# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

c/GPD4303StestApp/Db/O.linux-arm/
c/GPD4303StestApp/src/O.Common/
c/GPD4303StestApp/src/O.linux-arm/
c/bin/
c/configure/O.linux-arm/
c/db/
c/dbd/
c/iocBoot/iocGPD4303Stest/envPaths
