# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

GPD4303StestApp/Db/O.linux-arm/
GPD4303StestApp/src/O.Common/
GPD4303StestApp/src/O.linux-arm/
bin/
configure/O.linux-arm/
db/
dbd/
iocBoot/iocGPD4303Stest/envPaths
